In [47]:
import pandas as pd
import matplotlib as plot
import sqlalchemy as db
import matplotlib.pyplot as plt
import folium
import json 
import requests

engine = db.create_engine("sqlite:///db.sqlite")
connection = engine.connect()

# pd.set_option('max_columns', None)


sql=""" 
SELECT * FROM LostItem
JOIN Gare ON LostItem.code_uic_gare_origine = Gare.code_uic
JOIN Frequentation on Frequentation.code_uic = LostItem.code_uic_gare_origine

"""


df = pd.read_sql(sql,con=engine)
# df['date'] = pd.to_datetime(df['date']) - pd.to_timedelta(7, unit='d')

# df_semaine=pd.DataFrame(df.groupby([pd.Grouper(key='date', freq='W')])["type_objet"].count())

# df_semaine.reset_index(inplace=True)
# plt.figure()
# plt.hist(df_semaine['type_objet'])
# plt.show()

df

,id,code_uic_gare_origine,date,type_objet,gare,date_restitution,id,code_uic,nom_gare,code_postal,...,latitude,id,code_uic,code_postal,total_voyageurs_2016,total_voyageurs_2017,total_voyageurs_2018,total_voyageurs_2019,total_voyageurs_2020,total_voyageurs_2021
0,63da55f845a9723f14bf582ac1b9d891bde58ec1,0087723197,2016-01-01T05:29:11+00:00,"Bagagerie: sacs, valises, cartables",Lyon Part Dieu,None,eea1167107ee6d8208582f6be7cd0f9ca281cbce,0087723197,Lyon Part Dieu,69003,...,45.760559,5ca70698ff2d7b6686ebb4bdd8d432faac425bf7,0087723197,69003,32525629,34874317,32555240,32587523,19541666,26187679
1,541c4c8eeb0fdc37d432c82c3bc24e0cfadb2350,0087755009,2016-01-01T05:37:52+00:00,"Bagagerie: sacs, valises, cartables",Toulon,None,dd83934bb30804fe20c7a43a2802c12a1bc6c97b,0087755009,Toulon,83000,...,43.128370,c109457d737034960b92c3d6f50b020e215a2e82,0087755009,83000,3835728,4122788,3534118,3668509,2524370,3667722
2,9fc76f9590e95aa10556051285b76cc38a59695a,0087576207,2016-01-01T06:19:40+00:00,"Porte-monnaie / portefeuille, argent, titres",Bourges,None,a88bc09afdcca3336fff8395b85eda5a063be32a,0087576207,Bourges,18000,...,47.094145,b78170ba240a256ea77e7d64b82d703d47038d92,0087576207,18000,880015,915112,843252,980131,615575,829220
3,c1cde2fdb88372413bd5daf5113981c08a7b7012,0087111849,2016-01-01T06:31:15+00:00,"Appareils électroniques, informatiques, appare...",Marne-la-Vallée Chessy,2016-01-03T17:15:09+00:00,eb9b3a50ca0690c7d88a69ca8fe6b24965b71182,0087111849,Marne-la-Vallée Chessy,77111,...,48.869856,43a30fde000a76d44b239948432a8453b2cc7322,0087111849,77111,5418784,6009276,5996489,5432886,2492919,3312209
4,28619cf21142ad6b549201020bea6f93263b4268,0087111849,2016-01-01T06:44:54+00:00,"Porte-monnaie / portefeuille, argent, titres",Marne-la-Vallée Chessy,None,eb9b3a50ca0690c7d88a69ca8fe6b24965b71182,0087111849,Marne-la-Vallée Chessy,77111,...,48.869856,43a30fde000a76d44b239948432a8453b2cc7322,0087111849,77111,5418784,6009276,5996489,5432886,2492919,3312209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454631,1cbb7e736df918acb71d0e227d5b6643da7299e3,0087543017,2021-12-31T21:39:32+00:00,"Bagagerie: sacs, valises, cartables",Les Aubrais,None,255ad1d4ef04d016bc7e64f33e204c431f6261d7,0087543017,Les Aubrais,45400,...,47.926801,645d1b99bbb4dc66d80f5c90e03abe6240cce49f,0087543017,45400,1620529,1666961,1585092,1592924,888807,1113331
454632,35943f49e3fb5f9f36d82e1f34975b3c09a7159e,0087384008,2021-12-31T22:19:47+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,2022-01-08T10:50:12+00:00,aec160f097233f45cb9ffa9e773fff13b19325a9,0087384008,Paris Saint-Lazare,75008,...,48.876242,b1be6c8faae4eca4be9ade5afc3873859c8c8101,0087384008,75008,108771941,109956754,108075780,107340421,114468385,91502192
454633,60ef0c8ce7ee2c9b7722f58623ac76f1f947961e,0087384008,2021-12-31T22:23:27+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,None,aec160f097233f45cb9ffa9e773fff13b19325a9,0087384008,Paris Saint-Lazare,75008,...,48.876242,b1be6c8faae4eca4be9ade5afc3873859c8c8101,0087384008,75008,108771941,109956754,108075780,107340421,114468385,91502192
454634,8107cd28f611cb7d2c027597e94954ed761ea1c2,0087384008,2021-12-31T22:25:34+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,None,aec160f097233f45cb9ffa9e773fff13b19325a9,0087384008,Paris Saint-Lazare,75008,...,48.876242,b1be6c8faae4eca4be9ade5afc3873859c8c8101,0087384008,75008,108771941,109956754,108075780,107340421,114468385,91502192
454635,559884fe3255a1743a41312f4228d6965ab2b5d3,0087286542,2021-12-31T23:24:46+00:00,"Bagagerie: sacs, valises, cartables",Tourcoing,2022-01-05T15:26:46+00:00,851874afa9e4f644933f474b24f4507a59eb4308,0087286542,Tourcoing,59200,...,50.716830,b87e6e8b750b1daa4ed994711852ada3cc7301df,0087286542,59200,840616,1048189,731606,610714,425537,534310

In [48]:
df.columns

Index(['id', 'code_uic_gare_origine', 'date', 'type_objet', 'gare',
       'date_restitution', 'id', 'code_uic', 'nom_gare', 'code_postal',
       'code_commune', 'code_departement', 'departement', 'longitude',
       'latitude', 'id', 'code_uic', 'code_postal', 'total_voyageurs_2016',
       'total_voyageurs_2017', 'total_voyageurs_2018', 'total_voyageurs_2019',
       'total_voyageurs_2020', 'total_voyageurs_2021'],
      dtype='object')

In [49]:
dfq3=df[[ 'code_uic_gare_origine', 'date', 'type_objet', 'gare', 'code_postal',
        'code_departement', 'departement', 'longitude',
       'latitude','total_voyageurs_2016',
       'total_voyageurs_2017', 'total_voyageurs_2018', 'total_voyageurs_2019',
       'total_voyageurs_2020', 'total_voyageurs_2021']]

In [50]:
dfq3

,code_uic_gare_origine,date,type_objet,gare,code_postal,code_postal,code_departement,departement,longitude,latitude,total_voyageurs_2016,total_voyageurs_2017,total_voyageurs_2018,total_voyageurs_2019,total_voyageurs_2020,total_voyageurs_2021
0,0087723197,2016-01-01T05:29:11+00:00,"Bagagerie: sacs, valises, cartables",Lyon Part Dieu,69003,69003,69,Rhône,4.859355,45.760559,32525629,34874317,32555240,32587523,19541666,26187679
1,0087755009,2016-01-01T05:37:52+00:00,"Bagagerie: sacs, valises, cartables",Toulon,83000,83000,83,Var,5.929293,43.128370,3835728,4122788,3534118,3668509,2524370,3667722
2,0087576207,2016-01-01T06:19:40+00:00,"Porte-monnaie / portefeuille, argent, titres",Bourges,18000,18000,18,Cher,2.394255,47.094145,880015,915112,843252,980131,615575,829220
3,0087111849,2016-01-01T06:31:15+00:00,"Appareils électroniques, informatiques, appare...",Marne-la-Vallée Chessy,77111,77111,77,Seine-et-Marne,2.782720,48.869856,5418784,6009276,5996489,5432886,2492919,3312209
4,0087111849,2016-01-01T06:44:54+00:00,"Porte-monnaie / portefeuille, argent, titres",Marne-la-Vallée Chessy,77111,77111,77,Seine-et-Marne,2.782720,48.869856,5418784,6009276,5996489,5432886,2492919,3312209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454631,0087543017,2021-12-31T21:39:32+00:00,"Bagagerie: sacs, valises, cartables",Les Aubrais,45400,45400,45,Loiret,1.906629,47.926801,1620529,1666961,1585092,1592924,888807,1113331
454632,0087384008,2021-12-31T22:19:47+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,75008,75008,75,Paris,2.325331,48.876242,108771941,109956754,108075780,107340421,114468385,91502192
454633,0087384008,2021-12-31T22:23:27+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,75008,75008,75,Paris,2.325331,48.876242,108771941,109956754,108075780,107340421,114468385,91502192
454634,0087384008,2021-12-31T22:25:34+00:00,"Bagagerie: sacs, valises, cartables",Paris Saint-Lazare,75008,75008,75,Paris,2.325331,48.876242,108771941,109956754,108075780,107340421,114468385,91502192
454635,0087286542,2021-12-31T23:24:46+00:00,"Bagagerie: sacs, valises, cartables",Tourcoing,59200,59200,59,Nord,3.168040,50.716830,840616,1048189,731606,610714,425537,534310

In [52]:

geo_url='https://france-geojson.gregoiredavid.fr/repo/departements.geojson'
paris = folium.Map(location = [48.856578, 2.351828], zoom_start = 7)
geo = json.loads(requests.get(geo_url).text)

folium.Choropleth(
    geo_data=geo,
    name="France departements",
    data=dfq3,
    columns=["code_departement", "type_objet"],
    key_on="feature.properties.code",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=.1,
    legend_name="Unemployment Rate (%)",
).add_to(paris)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
dfq3[dfq3['latitude'].isna()]

Empty DataFrame
Columns: [code_uic_gare_origine, date, type_objet, gare, code_postal, code_postal, code_departement, departement, longitude, latitude, total_voyageurs_2016, total_voyageurs_2017, total_voyageurs_2018, total_voyageurs_2019, total_voyageurs_2020, total_voyageurs_2021]
Index: []